@media screen and (min-width:1440px) {
    #background_desktop {
        width: 100%;
        height: 50%;
        align-self: flex-start;
        display: block;
    }

    #background_mobile {
        width: 100%;
        height: 50%;
        align-self: flex-start;
        display: none;
    }

    .card {
        height: 43.5rem;
        width: 28rem;
    }

    .content {
        justify-content: space-between;
        padding: 3rem;
    }

    .card__image {
        border-radius: 1.25em 1.25em 0 0;
        width: 28rem;
    }

    .content__title {
        font-size: 1.75rem;
        line-height: 2rem;
    }

    .content__paragraph {
        font-size: 1.05rem;
        line-height: 1.6rem;
        margin: 0 1rem;
    }

    .plan {
        height: 6.125rem;
        margin: 0;
        padding: 1.5rem;
    }

    .plan {
        grid-template-areas:
        'plan-icon price__title price__title price__title price__title price__title price__title plan-link'
        'plan-icon price__value price__value price__value price__value price__value price__value plan-link';
    }

    #plan__title {
        font-size: 1rem;
    }

    #plan__value {
        font-size: 1rem;
    }

    #plan__link {
        font-size: .85rem;
    }

    .content__button {
        font-size: .96rem;
        height: 3.125rem;
        margin: 0.6rem 0;
    }

    .content__link {
        font-size: .95rem;
    }

    .attribution {
        bottom: 15px;
        position: absolute;
        width: 100%;
    }

    .attribution p {
        color: hsla(210, 7%, 60%, 0.5);
        font-size: .95rem;
        text-align: center;
    }

    .attribution a {
        color: hsla(210, 7%, 60%, 0.5);
        font-size: .95rem;
    }
}